nav{
    background-color:rgb(117, 145, 145);
}
:-webkit-any(article, aside, nav, section) h1{
    font-size: 1.0cm;
    color: white; background-color:rgb(131, 80, 43);
}
h1{
    text-align: center;
    color:rgba(0, 0, 255, 0.582); background-color:white;
}
h2 {
    color:rgb(20, 20, 230); background-color:rgb(251, 22, 22);
}
h3 {
    color:rgba(0, 0, 0, 0.498); background-color:rgba(200, 0, 255, 0.393);
    text-align: center;
}
h5 {
    color: rgba(128, 0, 0, 0.265);
}
section{
    float:left;
    max-width: 70%;
    margin: 0%;
    padding: 1%;
    background-color:white;
}
aside{
    float: left;
    max-width: 30%;
    background-color: rgba(245, 245, 220, 0.658);
}
footer{
    text-align: center;
    color: rgba(128, 0, 0, 0.895);
}
.contenedor::after{
    content: "";
    display: block;
    clear: both;
}
/* Style the header */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.posicion a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgb(24, 57, 84);
    height: 50px;
    text-decoration: none;
}

.posicion a:hover {
    background:rgb(41, 139, 236);
    color: #fff;

}

.posicion ul {
    list-style: none;
    display: flex;
}

.posicion li {
    position: relative;
    width: 100%;
    text-align: center;
}

.posicion li:hover .despliege>li {
    top: 0;
    display: block;
}

.despliege li {
    display: none;
    position: relative;
}

.despliege {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.despliege li:hover {
    display: block;
}