nav{
    background-color:rgb(198, 244, 244);
}
:-webkit-any(article, aside, nav, section) h1{
    font-size: 1.0cm;
    color: white; background-color:rgb(30, 69, 210);
}
h1{
    text-align: center;
    color:rgb(202, 202, 247); background-color:white;
}
h2 {
    color:darkblue; background-color:rgb(41, 170, 199);
}
h3 {
    color:black; background-color:rgba(255, 0, 43, 0.05);
    text-align: center;
}
h5 {
    color: maroon;
}
section{
    float:left;
    max-width: 70%;
    margin: 0%;
    padding: 1%;
    background-color:white;
}
aside{
    float: left;
    max-width: 20%;
    background-color: rgb(221, 221, 198);
}
footer{
    text-align: center;
    color: rgb(239, 187, 187);
}
.contenedor::after{
    content: "";
    display: block;
    clear: both;
}
/* Style the header */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.posicion a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgb(58, 91, 117);
    height: 50px;
    text-decoration: none;
}

.posicion a:hover {
    background:rgb(37, 76, 114);
    color: #fff;

}

.posicion ul {
    list-style: none;
    display: flex;
}

.posicion li {
    position: relative;
    width: 100%;
    text-align: center;
}

.posicion li:hover .despliege>li {
    top: 0;
    display: block;
}

.despliege li {
    display: none;
    position: relative;
}

.despliege {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.despliege li:hover {
    display: block;
}